body {
  @apply bg-gray-100;
}

.less-vibrant {
  filter: contrast(94%) hue-rotate(-12deg) saturate(95%);
}

html {
  scroll-behavior: smooth;
}

.serif-200 {
  font-family: "Rasa", serif;
  /* font-optical-sizing: auto; */
  font-weight: 200;
  /* font-style: normal; */
}

.serif-500 {
  font-family: "Rasa", serif;
  font-weight: 700;
  font-optical-sizing: auto;
  font-style: normal;
}
